allow fingerprintd tee_device:chr_file { read write ioctl open };

allow fingerprintd fpc_data_file:dir create_dir_perms;
allow fingerprintd fpc_data_file:sock_file { create unlink };

allow fingerprintd fpc_sysfs:file rw_file_perms;
