allow qti_init_shell ctl_default_prop:property_service set;

allow qti_init_shell vfat:dir { open read };
allow qti_init_shell vfat:file r_file_perms;
