# /data/goodix labeling
type_transition tee system_data_file:{ dir file } gx_fpd_data_file;

allow tee gx_fpd_data_file:dir create_dir_perms;
allow tee gx_fpd_data_file:file create_file_perms;
allow tee system_data_file:dir create_dir_perms;
